[Desktop Entry]
Type=Application
Name=Xenia Canary
GenericName=Xbox 360 Emulator
Comment=Play Xbox 360 games
Exec=xenia-canary
Icon=io.github.peerloomllc.XeniaCanary
Terminal=false
Categories=Game;Emulator;
Keywords=Xbox;360;emulator;xenia;
StartupNotify=true
